{{!-- Possible bug: These don't work because the popup closes when it needs to reopen --}}

{{!-- <map.on
  @event='click'
  @action={{fn (mut this.clicked)}}
/>

{{#if this.clicked}}
  {{#map.popup
    lngLat=this.clicked.lngLat
    onClose=this.onClose
    as |popup|
  }}
    Hi
  {{/map.popup}}
{{/if}} --}}
{{!-- 
<MapboxOn
  @map={{map}}
  @event='click'
  as |click|
>
  {{#if click.lngLat}}
    {{#map.popup
      initOptions=(hash
        closeOnClick=false
      )
      lngLat=click.lngLat
      as |popup|
    }}
      Hi {{click.lngLat.lng}} {{click.lngLat.lat}}
    {{/map.popup}}
  {{/if}}
</MapboxOn> --}}

{{!-- 
  <MapboxOn
    @map={{map}}
    @event='click'
    as |click|
  >
    {{#if click.lngLat}}
      <map.popup
        @lngLat={{click.lngLat}}
        as |popup|
      >
        <a
          href="http://maps.google.com/maps?q={{click.lngLat.lat}},{{click.lngLat.lng}}"
          target="_blank"
        >
          View in Google Maps

          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
          </svg>
        </a>
      </map.popup>
    {{/if}}
  </MapboxOn> --}}
