{{page-title "TulsaTrailMap"}}

<div class="absolute top-0 w-full z-50">
  <div class="bg-national-flag-blue border-b-12 border-mustard p-2 shadow-md">
    <div class="container mx-auto">
      <img
        src="/images/tulsa-flag-sigil.png"
        class="w-20 absolute"
      />
      <h1 class="text-bone ml-22">Tulsa Trail Map</h1>
    </div>
  </div>
  <div class="absolute p-4 w-1/5 m-4 shadow-md bg-opacity-95 bg-bone right-0">
    Legend
    <ul>
      {{#each this.TRAIL_TYPES as |trailType|}}
        <li class="p-1">
          <div
            class="mr-1 float-left rounded-full w-4 h-4"
            style="background-color: {{trailType.[1]}};"
          ></div>
          <h4>{{trailType.[0]}}</h4>
        </li>
      {{/each}}
    </ul>
    <h4>
      <label for="proposed">Show Proposed Trails</label>
      <Input name="proposed" @type="checkbox" @checked={{this.proposed}}/>
    </h4>
  </div>
</div>

<MapboxGl
  @initOptions={{hash hash=true}}
  class='map-container' as |map|
>
  <map.source
    @options={{hash
      type='geojson'
      data='https://map8.incog.org/arcgis8wa/rest/services/Trails_existing/FeatureServer/0/query?f=geojson&where=1=1&outFields=TYPE'
    }} as |source|
  >
    <source.layer
      @layer={{this.trailStyle}}
    />
  </map.source>

  {{!-- Proposed trails --}}

  <map.source
    @options={{hash
      type='geojson'
      data='https://map8.incog.org/arcgis8wa/rest/services/Trails_GOPlan/FeatureServer/0/query?f=geojson&where=1=1&outFields=Fac_Catego'
    }} as |source|
  >
    {{#if this.proposed}}
      <source.layer
        @layer={{this.proposedTrails}}
      />
    {{/if}}
  </map.source>
</MapboxGl>
